//===========================================
	// -Header start
//===========================================
.slider-background {
	height: $header-height;
	background-image: url("../images/header.jpg");
}
.slider-layout {
	height: $header-height;
	width: 100%;
	background-color:#282828b3;
	// opacity: 0.7;
	text-align: center;
	margin: 0px auto;
}

.main-header {
	position: absolute;
	width: 100%;
	margin-top: 48px;
	text-align: center;
}



.global-heading {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	width: 565px;

	h1 {
		display: inline-block;
		font-family: $font-default;
		font-weight: bold;
		font-size: 60px;
		color: $lighten;
		letter-spacing: 0.1px;
		line-height: 60px;
		text-align: center;
		margin-top: 261px;
	}
	.gradient-btn {
			padding: 17px 35px;
			background-image: linear-gradient(to right, #de4527, #f4a132);
			color: #282828;
			letter-spacing: 0.2px;
			border-radius: 100px;
			font-size: rem(14);
			font-family: $font-default;
			width: 210px;
			color: $white;
			font-weight: bold;
			margin: -10px auto; 
	}
	.gradient-btn-parent {
		text-align: center;
		padding: 0px;
	}
}
//===========================================
	// -Header end
//===========================================
